
.app-header {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
}

.heading-text {
  color: white;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  margin: 25px;
}

.square {
  min-width: 100px;
  min-height: 100px;
  font-size: 56px;
  text-align: center;
  color: #1CDBF5;
  font-weight: bolder;
  padding: 20px;
}

.fc-aqua {
  color: #1CDBF5;
}

.fc-white {
  color: white;
}

.fw-600 {
  font-weight: bolder;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.b-bottom-right {
  border-right: 15px solid aquamarine;
  border-bottom: 15px solid aquamarine;
}

.b-bottom {
  border-bottom: 15px solid aquamarine;
}

.b-right {
  border-right: 15px solid aquamarine;
}

.clear-button {
  width: max-content;
  margin: 4px;
  padding: 8px 16px;
}

.clear-button:hover {
  border: 2px solid white;
  background: #131A28;
  color: white;
  cursor: pointer;
}

.text {
	text-transform: uppercase;
	background: linear-gradient(90deg, rgba(13,255,37,1) 0%, rgba(36,207,135,1) 35%, rgba(0,212,255,1) 100%);
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

footer {
  position: fixed;
  bottom: 8px;
  left: 45%;
}

a {
  color: white;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .heading-text {
      color: white;
      font-size: 30px;
      font-weight: bolder;
      text-align: center;
      margin: 60px 10px;
  }

  .square {
      min-width: 80px;
      min-height: 80px;
      font-size: 32px;
      font-weight: bolder;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .b-bottom-right {
      border-right: 10px solid #1CDBF5;
      border-bottom: 10px solid #1CDBF5;
  }

  .b-bottom {
      border-bottom: 10px solid #1CDBF5;
  }

  .b-right {
      border-right: 10px solid #1CDBF5;
  }

  .clear-button {
      width: max-content;
      margin: 10px;
      padding: 4px 8px;
  }

  footer {
    bottom: 16px;
    left: 29%;
  }
}